<h1>StoreFront#about</h1>
<p>Find me in app/views/store_front/about.html.erb</p>



<h1> Vector art used</h1>
<a href="https://www.vecteezy.com/vector-art/419308-plants">Leaf Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/vector-art/540985-bottles-of-magic-potions-set">potion Vectors by Vecteezy</a>