<div class= "container">
  <%= form_for(@user) do |f| %>
  <div class="row">
    <h2 class="form-signin-heading col-sm-4 col-md-offset-5">New user</h2>
    </div>
    <%=render(:partial => "form", :locals => {:f=>f})%>
    
  <% end %>
</div>