<div class="container-fluid " style="padding-left: 0px;padding-right: 0px;">
  <div class="jumbotron " id="store-header">
      <h3 class="title-color"style="text-align: center;"><strong>Bardic Inspiration</strong></h3>
      <h5 class="title-color">Go ahead and take a d10</h5>
  </div>   
</div>


<nav id="navbar" class="navbar sticky-top" style="margin-bottom: 0px; z-index: 5;">

<ul class="nav navbar-nav d-flex abs-center-x">
  <li class="nav-item"></li>
  <li class="dropdown nav-item">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a>All</a></li>
     

    </ul>
  </li>

</ul>





         

    



</nav>


