<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <div class=""><%= link_to 'Back Room', back_room_index_path %></div>
              
                   
                    </a>

                    <div class="sb-sidenav-menu-heading">Interface</div>

                    <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
           
                            <%= link_to 'Inventory', items_path %>
                          
                    </a>

   <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
           
                            <%= link_to 'Types', types_path %>
                          
                    </a>

                       <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
           
                            <%= link_to 'Promo', promos_path %>
                          
                    </a>


                 

            </div>
        
          
    </nav>
</div>
