
<% @page_title = "Inventory" %>

<div class="container">

  <div class="page-header">
    <h1 class="text-center" >Items</h1>
  </div>
<div class ="btn">
<%= link_to 'New Item', new_item_path %>
</div>
  <div class="row" id="Inventory" >

      <table class="table table-hover table-bordered">

        <thead>
          <tr>
            <th >Name</th>
           
            <th >Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>

               <td ><%= link_to(item.name, item_path(item), :class => 'action show') %></td>
             
              <td class="actions" >
                <%= link_to("Edit", edit_item_path(item), :class => 'action edit') %>
                <%= link_to("Delete", delete_item_path(item), :class => 'action delete') %>
              </td>

            </tr>
          <% end %>
        </tbody>

      </table>
  
  </div>
 
</div>

