/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $icon-font-path: 'bootstrap/';
 @import "bootstrap";
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }
 
 .parallax {
   /* The image used */
   background-image: url("istockphoto1.jpg");
 
   /* Set a specific height */
   min-height: 500px; 
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 #admin_menu{
   z-index: 1;
   position: fixed;
   bottom: 50px;
   right: 50px;
 }
 
 #typeImage{
   left: 10%;
 }
 
 
 body {
     background-color: rgba(196, 196, 196, 0.933);
   }
   .col-centered{
     float: none;
     margin: 0 auto;
 }
 .abs-center-x {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
 }
 .title-color{
   color: #F7F7F7;
 }
 #logincard
 {
   width: 600px;
   height: 800px;
   padding: 0px;
 }
 .navbar {
    background-color: #F7F7F7;
 
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
 
 #store-header
 {
   background-color: #6F023F;
   margin: 0%;
   border-radius: 0px;
 }
 .row
 {
   position: fixed center;
 }
 
 
 #field {
   max-width: 900px;
 
 }
 #submit
 {
   max-width: 150px;
 }
 #thumbnail{
   width: 250px;
   height: 350px;
   padding: 0px;
 }
 
 #Store_image{
   margin: 0px;
   width: 300px;
   height: 165px;
 }
 #show_image{
   max-width:980px;
   width: auto;
   height: auto;
 }
 #Item_create_error{
   position: fixed center;
 }
 #orignal_price {
   text-decoration: line-through;
   color: gray;
   display:inline;
 
 }
 #new_price {
   color: red;
 
 }
 
 #alert {
   z-index: 1;
   position: fixed;
 }
 
 .card {
   margin-bottom: 1.5rem;
   box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
 }
 
 
 
 
 /* MARKETING CONTENT
 -------------------------------------------------- */
 
 /* Center align the text within the three columns below the carousel */
 .marketing .col-lg-4 {
   margin-bottom: 20px;
   text-align: center;
 }
 .marketing h2 {
   font-weight: normal;
 }
 .marketing .col-lg-4 p {
   margin-right: 10px;
   margin-left: 10px;
 }
 
 
 /* Featurettes
 ------------------------- */
 
 .featurette-divider {
   margin: 80px 0; /* Space out the Bootstrap <hr> more */
 }
 
 /* Thin out the marketing headings */
 .featurette-heading {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -1px;
 }
 
 
 /* RESPONSIVE CSS
 -------------------------------------------------- */
 
 @media (min-width: 768px) {
 
 
   
 
   .featurette-heading {
     font-size: 50px;
   }
 }
 
 @media (min-width: 992px) {
   .featurette-heading {
     margin-top: 120px;
   }
 }
 
 
 .store-spacing
 {
   height: 450px;
   
 }
 
 h2 {
   color: #6F023F;
   font-size: 70px;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
 }
 h5{
   text-align: center;
  
 }