 <% @page_title = "Store Front" %>
 <%current_slide = ["first-slide","second-slide","third-slide"]%>
 <%item_class = ["item active","item","item"]%>

 <!-- parallax ============ -->
<div class="parallax"></div>

 <div class="container store-spacing" stype=" line-height: 300px;">
  <h2> New Products, Great Deals </h2>
  <h5 > Limited Time price Drop!</h5>
 </div>
 <!--Carousel Wrapper-->



 <hr class="featurette-divider">
